
*.pyc
data/
*.egg-info/
.venv/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db